@font-face {
  font-family: "Metropolis";
  src: url(/assets/txt/metropolis/Metropolis-Regular.otf);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 1440px;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
  width: 1440;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Metropolis";
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
}
.top-nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 134px;
  margin-bottom: 80px;
}
.header {
  grid-column: 2/5;
}
.header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}
.close-button {
  grid-column: 11/12;
  width: 39.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.profile-edit {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.profile-input {
  display: grid;
  grid-column: 2/9;
  grid-template-columns: repeat(12, 1fr);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 46px 69px;
  box-shadow: 0px 0px 5px #888888;
}
.profile-banner {
  display: grid;
  grid-column: 1/4;
  grid-row: 1;
  font-style: normal;

  margin-bottom: 36px;
}
.profile-banner h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  color: #707be2;
}
.profile-text {
  display: grid;
  grid-column: 1/13;
  grid-row: 2;
}

.profile-text-input {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.profile-text-header {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.profile-student-text {
  grid-column: 6/12;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  height: 40px;
  background-color: #e6e6e6;
  border: #e6e6e6 solid 2px;
  border-radius: 8px;
  padding-left: 8px;
}
.profile-image {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 9/12;
}
.image {
  grid-column: 2/12;
  grid-row: 1/4;
  margin-top: 30px;
  margin-bottom: 40px;
}

.camera-bg {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  background: #707be2;
  top: 490px;
  right: 250px;
}
.camera {
  margin-top: 15px;
  margin-left: 15px;
}

.picture {
  width: 283px;
}
.name {
  grid-column: 2/10;
  grid-row: 4/6;
  text-align: center;
}
.name h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.name p {
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
}
.parents-profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 49px;
}
.parents-box {
  display: grid;
  grid-column: 2/12;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #888888;
}
.parents-banner {
  grid-column: 1/8;
  font-style: normal;
  margin-bottom: 36px;
  margin-top: 59px;

  margin-left: 69px;
}
.parents-banner h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  color: #707be2;
}
.parents-input {
  grid-column: 1/12;
  grid-row: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-left: 69px;
}
.parents-input-text {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 32px;
}
.parents-input-header {
  grid-column: 1/4;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.parents-text {
  grid-column: 4/12;
  height: 40px;
  border: 2px #e6e6e6 solid;
  border-radius: 8px;
}
.activities-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
}
.activities {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #888888;
}
.activities h2 {
  grid-column: 1/12;
  margin-bottom: 32px;
  margin-top: 39px;
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  color: #707be2;
  margin-left: 69px;
}
.activities-profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  grid-row: 2;
  margin-left: 69px;
}
.activities-left-side {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1/7;
}

.activities-right-side {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 7/13;
}
.activities-input {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 32px;
}
.activities-header {
  grid-column: 1/6;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.activities-text {
  grid-column: 7/11;
  height: 40px;
  border: 2px #e6e6e6 solid;
  border-radius: 8px;
  width: 150px;
}
.action-button {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
}
.discard-button {
  grid-column: 10/11;
  margin-bottom: 87px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}
.discard-button p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.submit-button {
  grid-column: 11/12;
  margin-bottom: 87px;
  background-color: #ffc56d;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.submit-button p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
